
h1{
    text-align: center;
    color: mediumblue;
    font: bolder;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.calculator{
    padding: 20px;
    border-radius: 1em;
    height: 500px;
    width: 500px;
    margin: auto;
    background-image:linear-gradient(aqua,blue);
}
.calcbtn{
    color: white;
    font-weight: bold;
    font-size:xx-large;
    height:90px;
    width: 90px;
    margin: auto;
    border: solid black 0.7px;
    background-color: #64278f;
    border-radius: 5px;
}
#clr{
    height: 90%;
    border-radius: 5px;
    width: 90%;
    background: rgb(237, 66, 4);
    color: black;
}
#clr:hover{
    background-color: white;
    color:black;
}
#result{
    width: 90%;
    height: 90px;
    margin: auto;
    font-size:xx-large;
    font-weight: bolder;
}
.calcbtn:active{
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
.calcbtn:hover{
    background-color: white;
    color: black;
}